[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    versions.cfg
package-name = collective.geotransform
package-extras = [test]
parts += robot

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework
